.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
}
.feedback-form input,
textarea {
    width: 360px;
    padding: 8px 16px;
    background-color: transparent;
    outline: none;
    border: 2px solid #808080;
    border-radius: 3.5px;
    transition: border-color cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}
.feedback-form input:focus,
textarea:focus {
    border-color: #000000;
}
.feedback-form input {
    margin: 8px 0;
}
.feedback-form textarea {
    resize: none;
    margin-top: 8px;
}
.feedback-form label {
    display: flex;
    flex-direction: column;
}
.feedback-form button {
    margin-top: 16px;
    width: 95px;
    height: 40px;
    background-color: #4e75ff;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 1500ms;
}
.feedback-form button:hover {
    background-color: #6C8CFF;
}